@use './../abstracts/' as *;

$font-size-xlarge: 2.5rem;
$font-size-large: 2rem;
$font-size-base: 1.6rem;
$font-size-small: 1.4rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-base: 1.5;
$line-height-heading: 1.2;

$font-family-sans-serif: "Space Grotesk", sans-serif;

body {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    font-family: $font-family-sans-serif;
    color: $c-text;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-normal;
    line-height: $line-height-heading;
    margin: $s-l 0;
}

h1 {
    font-size: $font-size-xlarge;
}

h2 {
    font-size: $font-size-large;
}

h3 {
    font-size: $font-size-base;
}

h4 {
    font-size: $font-size-small;
}

p {
    margin-bottom: $s-base;
}

a {
    color: $c-link;
    text-decoration: none;

    &:hover {
        color: $c-link-hover;
        text-decoration: underline;
    }
}

label {
    font-size: 0.75rem;
}
